body{
    font-family: Arial, sans-serif;
    text-align: center;
}

nav{
    background: #333;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 80%;
    margin: auto;
}

.gallery img{
    width: 100%;
}